@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

body {
    background-color: #33201C;
}

input {
    border-radius: 50px;
    background: #402520;
    box-shadow:  20px 20px 60px #2c1a17, -20px -20px 60px #3b2621;    
    width: 80vw;
    height: 10vh;
    margin-top: 45vh;
    margin-left: 10vw;
    border: none;
}