@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Source+Code+Pro:ital,wght@0,400;1,400&display=swap');


/* -- BODY STYLES -- */
body {
    background-color: #282c34;
    padding-left: 3vw;
    padding-top: 30vh;
}

/* -- TEXT FONTS, STYLES AND COLORS -- */
h1, h3 {
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5em;
    font-weight: 400;
    color: #61afe3;
    text-shadow: black 0px 2px 10px;
    position: relative;
    width: max-content;
}

h1 strong {
    color: #c678bc;
    font-weight: 400;
}

h1 i {
    color: #ffc922;
    font-style: normal;
}

h1 label {
    color: #e06c60;
}

h3 s {
    color: #7bc379;
    text-decoration: none;
}

a.NOTLINK {
    color: #c678bc;
    text-decoration: none;
}

#txt {
    margin-left: 70px;
}

h2 {
    color: azure;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

h2 a {
    color: aqua;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

h2 a:hover {
    text-shadow: black 0px 5px 10px;
    color: antiquewhite;
}

.attr {
    margin-top: 35vh;
}

/* -- ANIMATION -- */
h1::before, h1::after, h3::before, h3::after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

h1::before {
    background-color: #282c34;
    animation: typewriter 2s steps(19) forwards;
    animation-delay: 1s;
}

h3::before {
    background-color: #282c34;
    animation: typewriter 3s steps(26) forwards;
    animation-delay: 3s;
}

h1::after, h3::after {
    width: .125em;
    background: transparent;
}

h1::after {
    animation: typewriter 2s steps(19) forwards, blinking 700ms steps(19) 3;
    animation-delay: 1s;
}

h3::after {
    animation: typewriter 3s steps(26) forwards, blinking 700ms steps(26) infinite;
    animation-delay: 3s;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blinking {
    to {
        background: #e06c60;
    }
}